---
import type { GetStaticPaths } from "astro";
import Layout from "../Layout.astro";
import Card from "../components/Card.astro";
import { reference } from "astro:content";

const data = await fetch("https://yzgwebwfkyaislvevipy.supabase.co/rest/v1/clf_data", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl6Z3dlYndma3lhaXNsdmV2aXB5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA4NDg5MTEsImV4cCI6MjAyNjQyNDkxMX0.6rLMBGBocalM2BMrgiETTrqsbyKcIVCrCAr_bwfmZiw",
  },
}).then((res) => res.json());
console.log(data);

---

<Layout>
  <h1>KØBENHAVN K</h1>

  <p class="underoverskrift">I København K kan du opleve en magisk lysfestival med imponerende udstillinger. Vælg din foretrukne installation for mere information.</p>

  <div class="breadcrumb">
    <ul>
      <li><span class="material-symbols-outlined"> arrow_back </span><a href="/program">PROGRAM</a></li>
    </ul>
  </div>

  <div class="grid">
    {
      data.map((show) => {
        return <Card image={show.image} alt={show.description} />;
      })
    }
    <!-- <Card header="03.PIXELEARTH" image="/billeder/03.pixelearth.png" alt="Pixelearth" text="Knasten, Havnegade 14" />
    <Card header="03.PIXELEARTH" image="/billeder/03.pixelearth.png" alt="Pixelearth" text="Knasten, Havnegade 14" />
    <Card header="03.PIXELEARTH" image="/billeder/03.pixelearth.png" alt="Pixelearth" text="Knasten, Havnegade 14" />
    <Card header="03.PIXELEARTH" image="/billeder/03.pixelearth.png" alt="Pixelearth" text="Knasten, Havnegade 14" />
    <Card header="03.PIXELEARTH" image="/billeder/03.pixelearth.png" alt="Pixelearth" text="Knasten, Havnegade 14" />
    <Card header="03.PIXELEARTH" image="/billeder/03.pixelearth.png" alt="Pixelearth" text="Knasten, Havnegade 14" /> -->
  </div>
</Layout>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    margin: 1rem;
  }

  .breadcrumb,
  .grid {
    max-width: 1450px;
    margin: 0 auto;
  }

  /* Brødkrummesti */

  .breadcrumb {
    padding: 1rem 0 2rem 0;
  }

  .breadcrumb li {
    display: flex;
    align-items: center;
  }

  .material-symbols-outlined {
    margin-right: 5px; /* Juster margen efter behov */
    color: white; /* Gør teksten hvid */
  }

  a {
    color: white;
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
