---
import Layout from "../Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
	<h1></h1>

<main>
<!-- <Card image="/billeder/illustration.webp" alt="Pixelearth" />
<Card image="/billeder/illustration2.webp" alt="Pixelearth" /> -->



<img src="/billeder/illustration2.webp" alt="illustraion" class="illustraion">
	<img src="/billeder/illustration.webp" alt="illustraion" class="illustraion2">
	
	

</main>



</Layout>

<style>
	

	.illustraion {
		transform: scaleX(1.5) scaley(1.2) rotate(20deg);
		filter: brightness(70%);
		position: relative;
  		bottom: -26px;
 		right: 88px;
	}
	.illustraion2 {
		 transform: scaleX(1.5) scaleY(1.5);
		 filter: brightness(70%);
		 position: relative;
  		top: 160px;
  		left: 77px;
	}
	
</style>


