---

---

<footer>
  <div class="footer_newsletter">
    <h2>Hold dig opdateret med vores nyhedsbrev</h2>
    <a href="Læs mere om betingelserne her">Link til nyhedsbrev</a>
  </div>

  <div class="footer-links">
    <a href="">KONTAKT</a>
    <a href="">PRESSE</a>
    <a href="">SAMARBEJDSPARTNERE</a>
    <a href="">PERSONDATO</a>
    <a href="">FAQ</a>
  </div>
</footer>

<style>
  footer {
    text-align: center; /* Centrer alt indhold i footer */
  }

  .footer-links {
    display: flex; /* Brugt flexbox-layout */
    justify-content: center; /* Centrer elementerne vandret */
    gap: 1rem; /* Mellemrum mellem links */
  }

  h2,
  a {
    color: white;
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem; /* Ændret størrelse for links for at matche */
  }

  .footer_newsletter h2 {
    margin: 0; /* Nulstil margenen for <h2> i .newsletter-section */
  }
</style>
