---

---

<footer>
  <div class="footer_newsletter">
    <h2>Hold dig opdateret med vores nyhedsbrev</h2>
    <a href="Læs mere om betingelserne her">Læs mere om betingelserne her</a>
  </div>

  <div class="newsletter-box">
    <div class="input-wrapper">
      <input type="text" name="name" class="newsletter-name" placeholder="Fornavn" required />
      <select name="relation">
        <option value="artist">Artist</option>
        <option value="gæst">Gæst</option>
        <option value="vært">Vært</option>
      </select>
    </div>
  </div>

  <div class="newsletter-box">
    <div class="input-wrapper">
      <input type="email" name="email" class="newsletter-email" placeholder="Indtast din email" required />
      <button type="submit">Tilmeld</button>
    </div>
  </div>

  <div class="footer-links">
    <a href="">KONTAKT</a>
    <a href="">PRESSE</a>
    <a href="">SAMARBEJDSPARTNERE</a>
    <a href="">PERSONDATO</a>
    <a href="">FAQ</a>
  </div>
</footer>

<style>
  footer {
    text-align: center;
    color: white;
    max-width: 500px;
    margin: 0 auto;
  }
  .footer-links {
    display: flex; /* Brugt flexbox-layout */
    justify-content: center; /* Centrer elementerne vandret */
    gap: 1rem; /* Mellemrum mellem links */
  }
  h2,
  a {
    color: white;
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem; /* Ændret størrelse for links for at matche */
    margin: 2rem 0 2rem 0;
  }
  .footer_newsletter h2 {
    margin: 0;
  }

  .footer_newsletter {
    margin-bottom: 1rem;
  }

  /* Footer boks */
  .newsletter-box {
    background: transparent; /* Gennemsigtig baggrund */
    color: white; /* Hvid tekstfarve */
    border: 1px solid white; /* Hvid kant */
  }

  .input-wrapper {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    background-color: transparent; /* Gennemsigtig baggrund for input-wrapper */
  }
  .input-wrapper input[type="email"],
  .input-wrapper input[type="text"] {
    width: 75%;
    padding: 25px;
    border: none;
    color: white; /* Hvid tekstfarve */
    background: transparent; /* Gennemsigtig baggrund for input */
  }

  .input-wrapper select {
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
  }

  .input-wrapper button {
    position: relative;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }

  .input-wrapper button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -5px;
    width: 2px;
    background-color: #ccc;
  }
</style>
