<header>
  <div class="logo-container">
    <a href="/"><img id="logo" src="/billeder/clf_billeder/logo.webp" alt="" /></a>
  </div>
  <nav class="menu">
    <a href="/program">PROGRAM</a>
    <a href="/by">KORT/RUTER</a>
    <a href="/singleview">BOOK</a>
  </nav>
  <div class="language">
    <a href="#" class="selected">DA</a>
    <span class="divider">/</span>
    <a href="#">EN</a>
  </div>
  <span class="material-symbols-outlined"> search </span>
  <!-- <div class="burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div> -->
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    margin: 2rem auto 4rem;
  }
  .logo-container {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .menu {
    display: flex;
    list-style: none;
    margin-left: auto;
    justify-content: end;
    gap: 0.8rem;
  }
  nav a {
    color: white;
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    padding-right: 1rem;
  }

  img {
    width: 50%;
    height: auto;
  }

  /* Sprog valgmulighed */
  .language {
    margin-left: 15px;
  }

  .language a {
    text-decoration: none;
    color: white;
    /* margin-right: 5px; */
    position: relative;
    font-family: "Jaldi", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    font-style: normal;
  }

  .language a.selected::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
  }

  .material-symbols-outlined {
    padding-left: 1rem;
  }
</style>
