<nav>
<!-- <a href="PROGRAM">PROGRAM</a>
<a href="KORT/RUTER">KORT/RUTER</a>
<a href="BOOK">BOOK</a> -->

<a href="PROGRAM">PROGRAM</a>
<a href="KØBENHAVN K">KORT/RUTER</a>
<a href="SINGLEVIEW">BOOK</a>
<a href="NYHEDSBREV">BOOK</a>
</nav>

<style>
nav {
display: flex;
justify-content: end;
gap: 1rem;
}
</style>