---
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";
import "./style.css";

const data = await fetch("https://yzgwebwfkyaislvevipy.supabase.co/rest/v1/clf_data",
{
  method: "GET",
  headers: {
  apikey:
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl6Z3dlYndma3lhaXNsdmV2aXB5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA4NDg5MTEsImV4cCI6MjAyNjQyNDkxMX0.6rLMBGBocalM2BMrgiETTrqsbyKcIVCrCAr_bwfmZiw"
  },
}

).then(res=>res.json());

---



<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.typekit.net/flk1oht.css" />
    <title>Astro</title>
  </head>
  <body>

	{
	data.map((show) => {
		return <Card data />;
	})
}

    <Header />

    <slot />
    <Footer />
  </body>
</html>
